################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectNoctis/UtilFiles/credentials.json
/ProjectNoctis/Migrations
/ProjectNoctis/GoogleApiWrapper/credentials.json
ProjectNoctis/bin/
ProjectNoctis/obj/
/.vs/ProjectNoctis/v16
/.vs/ProjectNoctis
ProjectNoctis/ProjectNoctis/token.json
/ProjectNoctis/token.json
/ProjectNoctis/Services/Concrete/BotServices/BotService.cs
/.vs
/ProjectNoctis/Domain - Shortcut.lnk
/.vscode
